<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="glyphicon glyphicon-list"></i>
                            <span class="caption-subject text-uppercase">Account Details</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Account Holder Name :</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{vm.userDetail.userName}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Account Number :</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{vm.userDetail.accountNumber}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Card Number :</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{vm.userDetail.cardNumber}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Expiration Date :</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{vm.userDetail.expirationDate}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Balance Amount :</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">$ {{vm.userDetail.currentBalance}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="form-control-static"> <button class="btn btn-primary" type="button" ng-click="vm.showPanel()">Withdraw Money</button></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-5">
                <div class="portlet" ng-show="vm.panelVisibility">

                    <div class="portlet-body">
                        <form class="form-horizontal" name="myForm">
                            <div class="form-group">
                                <label class="control-label col-sm-6">Withdrawal Amount</label>
                                <div class="col-sm-6" ng-class="{ 'has-error' : myForm.password.$invalid && !myForm.password.$pristine }">
                                    <input type="text" class="form-control" ng-model="vm.withdrawalAmt" placeholder="Enter Amount" required="" autofocus="" />
                                    <p ng-show="vm.isDisabled" class="help-block">Please Enter Amount In Multiples Of 100</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-6 col-sm-4">
                                    <button class="btn btn-primary" type="button" ng-click="vm.withdrawMoney()">Confirm</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>