<div class="content">
    <div class="container">
        <div class="row">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-home"></i>
                        <span class="caption-subject text-uppercase">Welcome to our ATM</span>
                    </div>
                     <div class="actions">
                        <a class="btn" href='#/adminLogin'>
                            Admin Login
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <h3 class='col-md-offset-4'>Please Login</h3>
                    <br/>
                    <form class="form-horizontal" name="myForm">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3  col-xs-12">Card Number:</label>

                            <div class="col-sm-2 col-md-1 col-xs-3" ng-class="{ 'has-error' : myForm.box1.$invalid && !myForm.box1.$pristine }">
                                <input type="text" auto-tab-to="box2" class="form-control" id="box1" name="box1" ng-model="vm.box1" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits"
                                    required autofocus>
                            </div>
                            <div class="col-sm-2 col-md-1 col-xs-3" ng-class="{ 'has-error' : myForm.box2.$invalid && !myForm.box2.$pristine }">
                                <input type="text" auto-tab-to="box3" class="form-control" id="box2" name="box2" ng-model="vm.box2" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits"
                                    required>
                            </div>
                            <div class="col-sm-2 col-md-1 col-xs-3" ng-class="{ 'has-error' : myForm.box3.$invalid && !myForm.box3.$pristine }">
                                <input type="text" auto-tab-to="box4" class="form-control" id="box3" name="box3" ng-model="vm.box3" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits"
                                    required>
                            </div>
                            <div class="col-sm-2 col-md-1 col-xs-3" ng-class="{ 'has-error' : myForm.box4.$invalid && !myForm.box4.$pristine }">
                                <input type="text" auto-tab-to="password" class="form-control" id="box4" name="box4" ng-model="vm.box4" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits"
                                    required>
                            </div>
                            <p ng-show="(myForm.box1.$invalid && !myForm.box1.$pristine) || (myForm.box3.$invalid && !myForm.box3.$pristine) || (myForm.box2.$invalid && !myForm.box2.$pristine) || (myForm.box4.$invalid && !myForm.box4.$pristine)"
                                class="help-block"> Please Enter Valid Card Number</p>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Pin Code:</label>
                            <div class="col-sm-4" ng-class="{ 'has-error' : myForm.password.$invalid && !myForm.password.$pristine }">
                                <input type="password" id="password" name="password" ng-model="vm.user.password" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}"
                                    title="Four digits pin code" required>
                            </div>
                            <p ng-show="myForm.password.$invalid && !myForm.password.$pristine" class="help-block">Please Enter 4 Digit Pin Code </p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-6 col-sm-4">
                                <button type="submit" ng-disabled="myForm.$invalid" id="loginBtn" ng-click="vm.login()" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>